
<div class="table-responsive">
    <h1>Passengers</h1> 
    <a href="#" routerLink="/passenger/create" class="btn btn-success">+ Create a Passenger</a>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Job</th>
                <th>Email</th>
                <th>Age</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let passenger of passengers">
                <td>{{ passenger.id }}</td>
                <td>{{ passenger.name }}</td>
                <td>{{ passenger.job }}</td>
                <td>{{ passenger.email }}</td>
                <td>{{ passenger.age }}</td>
                <td><a [routerLink]="['/passenger', passenger.id, 'view']" class="btn btn-primary">View</a>
                    <a [routerLink]="['/passenger', passenger.id, 'edit']" class="btn btn-primary">Edit</a>
                    <a href="#" routerLink="/passenger/index" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>