<div>
    <h1>Welcome to AirlineService!</h1>
    <p>If you wish to manage passengers or flights please
         use the appropriate links in the navigation bar at the top of the page.</p> 
    This application supports the following actions:
    <li>
        Create
    </li>
    <li>
        Read
    </li>
    <li>
        Update
    </li>
    <li>
        Delete
    </li>
    <br/>
    <p>If you have any questions or need additional support please 
        don't hesitate to contact our attentive customer service at bvanek@skillstorm.com</p>
    <h5>Thank you for using our application!</h5>
    <img src='https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/60301/thumb-up-emoji-clipart-xl.png' width="800" height="550">
</div>
