<div>
    <h1>Welcome to AirlineService!</h1>
    <p>If you wish to manage passengers or flights, please
         use the appropriate links in the navigation bar at the top of the page.</p> 
    This application supports the following actions:
    <li>
        Create
    </li>
    <li>
        Read
    </li>
    <li>
        Update
    </li>
    <li>
        Delete
    </li>
    <br/>
    <p>If you have any questions or need additional support, please 
        don't hesitate to contact our attentive customer service at bvanek@skillstorm.com</p>
    <h5>Thank you for using our application!</h5>
    <img src='https://www.pngitem.com/pimgs/m/111-1110771_thumbs-up-emoji-meme-hd-png-download.png' width="550" height="610">
</div>
